<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Add New Card</legend>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="ccnumber">Card Number</label>
            <div class="col-md-4">
                <input id="ccnumber" name="ccnumber" type="text" placeholder="Card Number" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="cvcnumber">CVC</label>
            <div class="col-md-4">
                <input id="cvcnumber" name="cvcnumber" type="text" placeholder="CVC Code" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="expmonth">Expiration Month</label>
            <div class="col-md-4">
                <input id="expmonth" name="expmonth" type="text" placeholder="" class="form-control input-md" required="">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="expyear">Exipiration Year</label>
            <div class="col-md-4">
                <input id="expyear" name="expyear" type="text" placeholder="" class="form-control input-md" required="">

            </div>
        </div>

    </fieldset>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
</form>