<h2>Manage Account</h2>
<ul id="accounttab" class="nav nav-tabs">
    <li class="active"><a href="#accounts" data-toggle="tab">Accounts</a></li>
    <li><a href="#accountdetail" data-toggle="tab">Account Details</a></li>
</ul>
<div id="accountTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="accounts">
        <table id="accountlist">
            <thead>
                <tr>
                    <th>Type</th>
                    <th>Last 4</th>
                    <th>Expiration</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Add Card</button>
    </div>
    <div class="tab-pane fade" id="accountdetail">
        <form class="form-horizontal">
            <fieldset>
                <!-- Form Name -->
                <legend>Account Details</legend>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="name">Name:</label>
                    <div class="col-md-4">
                        <input id="name" name="name" type="text" placeholder="" class="form-control input-md">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="last4">Last 4:</label>
                    <div class="col-md-4">
                        <input id="last4" name="last4" type="text" placeholder="" class="form-control input-md">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="expires">Expires:</label>
                    <div class="col-md-4">
                        <input id="expires" name="expires" type="text" placeholder="" class="form-control input-md">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="cvc">CVC Code:</label>
                    <div class="col-md-4">
                        <input id="cvc" name="cvc" type="text" placeholder="" class="form-control input-md">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="address1">Address:</label>
                    <div class="col-md-4">
                        <input id="address1" name="address1" type="text" placeholder="" class="form-control input-md">
                    </div>
                </div>
                <!-- Text input-->
                <div class="form-group">
                    <label class="col-md-4 control-label" for="address2"></label>
                    <div class="col-md-4">
                        <input id="address2" name="address2" type="text" placeholder="" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="city">City:</label>
                    <div class="col-md-4">
                        <input id="city" name="city" type="text" placeholder="" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="state">State:</label>
                    <div class="col-md-4">
                        <input id="state" name="state" type="text" placeholder="" class="form-control input-md">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4 control-label" for="zipcode">Zip:</label>
                    <div class="col-md-4">
                        <input id="zipcode" name="state" type="text" placeholder="" class="form-control input-md">
                    </div>
                </div>
            </fieldset>
        </form>
        <button class="btn btn-lg btn-primary btn-block" type="button">Back</button>
    </div>
</div>
